@use "../global" as global;
@use "sass:map";

.p-sp-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 6px 17px;
  padding-left: 8px;
  z-index: map.get(global.$layer, "floating");
  z-index: calc(map.get(global.$layer, "drawer") + 1);
}

.p-sp-bottom__inner {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.p-sp-bottom__tel-area {
  a {
       span{
    color: global.$color-primary;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    position: relative;
    padding-left: 27px;
    letter-spacing: -0.001em;
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      background: url(../img/icon_tel.svg) no-repeat center center/cover;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
    }
        
    }
  }
  p {
    margin-left: 20px;
    margin-top: -1px;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
  }
}

.p-sp-bottom__btn-area {
  a {
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: global.$color-primary;
    border: 1px solid global.$color-primary;
    transition: color 0.6s, background-color 0.6s;
    position: relative;

    p {
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      color: global.$color-primary-contrast;
      padding: 0;
    }
    span {
      color: global.$color-primary-contrast;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      display: block;
      margin-top: -5px;
    }
    &::before {
      content: "";
      width: 46px;
      height: 28px;
      background: url(../img/icon-webreserve.svg) no-repeat center center/cover;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &:hover {
    a{
        background: global.$color-secondary;
        border: 1px solid global.$color-secondary;
    }
  }
}
